
<div class="card mb-3">
  <img class="card-img-top" src="https://image.tmdb.org/t/p/w300{{movie.poster_path}}" alt="backdrop">
  <div class="card-body">
    <h5 class="card-title">{{movie.title}}</h5>
    <!--<p class="card-text">{{movie.overview}}</p>-->
    <ul class="list-inline">
   
      <li class="list-inline-item">Views: {{movie.popularity}}</li>
    </ul>
  </div>
  <!--
  <div class="card-footer">
    <ul class="list-inline">
      <li class="list-inline-item">Original Language: {{movie.original_language}}</li>
      <li class="list-inline-item">Vote Average: {{movie.vote_average}}</li>
      <li class="list-inline-item">Vote Count: {{movie.vote_count}}</li>
    </ul>
  </div>
  -->
  <div [routerLink]="['/movie-detail', movie.id]"

       style="cursor: hand; margin: 2%">
    <button class="btn btn-outline-secondary btn-sm" onclick="showDetails()">Afficher les Details</button>


  </div>
</div>
